@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
